.modal {
  position: relative;
  width: 1000px;
  height: 100%;
}

.modal__button {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  border-radius: 45px;
  color: #dfdb00;
  font-weight: 800;
  background-color: #031474;
  border: none;
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
  outline: none;
  cursor: pointer;
}

.modal__popup {
  position: absolute;
  left: 20%;
  top: 80px;
  width: 700px;
  height: 400px;
  border-radius: 45px;
  color: #000;
  /* background: linear-gradient(#031474, #01064b, #01053a); */
  background-color: navy;
  border: 5px solid #dfdb00;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  outline: none;
}

.modal__popup--help {
  list-style-type: none;
  color: #a7a404;
  font-weight: 800;
}

.show {
  display: none;
}