body {
}

.modal__container {
  position: relative;
}

.modal__container--button {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  border-radius: 45px;
  color: #000;
  background-color: #fff;
  border: none;
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
  outline: none;
  cursor: pointer;
}

.modal__container--popup {
  position: absolute;
  left: 20%;
  top: 80px;
  width: 700px;
  height: 400px;
  border-radius: 45px;
  color: #000;
  background: linear-gradient(#15ffec, #4bccc1, #52ada6);
  border: none;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  outline: none;
}

.show {
  display: none;
}