* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

li {
  list-style: none;
}

.contents {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.roletoChess-container {
  width: 1000px;
  min-width: 1000px;
  height: 800px;
  border: 1px dotted red;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.main-title {
  width: 50%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-size: 4rem;
}

.modal {
  position: fixed;
  right: 10px;
  top: 10px;
}

.modal__button {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  border-radius: 45px;
  color: white;
  font-weight: 800;
  background-color: #0eafee;
  border: none;
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
  outline: none;
  cursor: pointer;
  font-size: 1.6rem;
}

.modal__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(238, 238, 238, 0.5);
  cursor: pointer;
}

.modal__popup {
  position: absolute;
  width: 700px;
  height: 400px;
  left: calc(50% - 350px);
  top: calc(50% - 200px);
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);
  outline: none;
  padding: 15px 30px;
  cursor: auto;
}

.modal__popup--help {
  list-style-type: none;
  color: #a7a404;
  font-weight: 800;
}

.show {
  display: none;
}

.modal__popup--container > h2 {
  margin: 1rem 0;
}

.modal__popup--container > * {
  text-align: center;
}
