.roletoChess-container {
  /* TODO: 지워야 함 */
  display: none;
}

body {
  perspective: 500px;
}

.board {
  width: 800px;
  height: 400px;
  border: 2px dotted black;

  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 10px;

  transform: rotate3d(1, 0, 0, 20deg);
}

.board > .block {
  background-color: rgb(182, 228, 228);
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  perspective: 500px;
}

.block > .player-card, .enemy-card {
  width: 80%;
  height: 80%;
  border: 1px solid slateblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.enemy-card.left {
  box-shadow: -2px -1px 3px slateblue;
}

.enemy-card.left-center {
  box-shadow: -1px -1px 3px slateblue;
}

.enemy-card.center {
  box-shadow: 0px -1px 3px slateblue;
}

.enemy-card.center-right {
  box-shadow: 1px -1px 3px slateblue;
}

.enemy-card.right {
  box-shadow: 2px -1px 3px slateblue;
}

.player-card.left {
  box-shadow: -2px 1px 3px slateblue;
}

.player-card.left-center {
  box-shadow: -1px 1px 3px slateblue;
}

.player-card.center {
  box-shadow: 0px 1px 3px slateblue;
}

.player-card.center-right {
  box-shadow: 1px 1px 3px slateblue;
}

.player-card.right {
  box-shadow: 2px 1px 3px slateblue;
}