.class-select {
  margin: 200px 0;
}

.class-select > ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.class-select li {
  margin: 0 1rem;
}

.message-select {
  text-align: center;
}

.deck-onHand {
  border: 3px solid #e08119;
  background-color: #f09a3e;
}

.deck-market {
  border: 3px solid #163d77;
  margin: 1rem 0;
  background-color: #3f6aaa;
}

.deck-onHand,
.deck-market {
  width: 80%;
  padding: 15px 0;
  border-radius: 20px;
}

.deck-onHand > ul,
.deck-market > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.deck-onHand li,
.deck-market li {
  margin: 0 1rem;
  width: 6rem;
  height: 8rem;
  text-align: center;
  line-height: 7;
}

.deck-onHand li:hover,
.deck-market li:hover {
  transform: scale(1.2);
}
