.class-card {
  width: 4rem;
  height: 6rem;
  border-radius: 0.2rem;
  border: 3px solid;
  cursor: pointer;
  transition: 100ms transform ease-out;
}

.class-card:hover {
  transform: scale(1.3);
}

.worrior {
  /* bloodshot */
  border-color: #600707;
  background-color: #f44336;
}

.witch {
  /* ring */
  border-color: #135699;
  background-color: #1976d2;
}

.archer {
  /* callow */
  border-color: #1b5e20;
  background-color: #66bb6a;
}

.wolf {
  /* Shelter */
  border-color: #879596;
  background-color: #d7dbdc;
}
