.class-card {
  width: 4rem;
  height: 6rem;
  border-radius: 0.2rem;
  border: 3px solid;
  cursor: pointer;
  transition: 100ms transform ease-out;
}

.class-card:hover {
  transform: scale(1.3);
}

.class-card.worrior {
  /* bloodshot */
  border-color: #600707;
  background-color: #F44336;
}

.class-card.witch {
  /* ring */
  border-color: #135699;
  background-color: #1976D2;
}

.class-card.archer {
  /* callow */
  border-color: #1B5E20;
  background-color: #66BB6A;
}
